<app-navbar>
    <div class="bg-blue-900 text-white p-4 shadow-lg">
        <a href="{{ path('homepage:index') }}">Abysstore</a>
        <span class="mr-4">
            {% for route in routes %}
                <a href="{{ path(route['path']) }}">
                    {{ route['name'] }}
                </a>
            {% endfor %}
        </span>
        <span id="open-menu-btn" class="float-end">
            <twig:ux:icon name="mdi-light:menu" class="h-6 w-6" />
        </span>
    </div>
    <div id="menu-panel" class="hidden absolute left-0 right-0 top-0 h-screen bg-white">
        <div class="text-blue-900 p-4">
            <a href="{{ path('homepage:index') }}">Abysstore</a>
            <span id="close-menu-btn" class="float-end">
                <twig:ux:icon name="line-md:close" class="h-6 w-6 float-end" />
            </span>
        </div>

        <div>
            <ul class="list-none p-4">
                {% for route in routes %}
                    <li>
                        <a href="{{ path(route['path']) }}" class="text-blue-900 hover:text-blue-600">
                            {{ route['name'] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</app-navbar>
